<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Newsify</title>
</head>
<body>
    <div class="section-1">
    <div class="heading">
        <div class="heading__secondary">
            From Television to the web
        </div>

        <div class="heading__primary">
            Latest news
        </div>
    </div>
    
    <div class="navbar">
    <nav class="navbar-container">
            <div class="navbar__item">
                <a href="#" class="navbar__item-link">Home</a>
            </div>
            <div class="navbar__item">
                <a href="#content" class="navbar__item-link">About</a>
            </div>
            <div class="navbar__item">
                <a href="#" class="navbar__item-link">My Blog</a>
            </div>
            <div class="navbar__item">
                <a href="#form" class="navbar__item-link">Contact</a>
            </div>
            <div class="navbar__item">
                <a href="#" class="navbar__item-link">
                    <img class="navbar__item-link--img" src="./img/fb-small.jpg" alt="facebook">
                </a>
                <a href="#" class="navbar__item-link">
                    <img class="navbar__item-link--img" src="./img/insta-small.jpg" alt="instagram">
                </a>
                <a href="#" class="navbar__item-link">
                    <img class="navbar__item-link--img" src="./img/twitter-small.jpg" alt="twitter">
                </a>
                <a href="#" class="navbar__item-link">
                    <img class="navbar__item-link--img" src="./img/printrest-small.jpg" alt="pintrest">
                </a>
        </div>
    </nav>
    
    </div>

    <div class="search">
        <div class="search__container">
            <div class="search__heading">
                Search News
            </div>
            <div class="search__main">
                <div class="search__primary">
                    <input type="text" class="search__primary-input">
                </div>
                <div class="search__secondary">
                    <svg class="search__icon">
                        <use xlink:href="img/sprite.svg#icon-search"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>

        <div class="featured">

            <div class="featured__post">
                <p class="featured__post-text">
                    featured post
                </p>
            </div>

            <div class="featured__box">
                <div class="featured__image">
                    <img src="./img/testphoto.jpg" class="featured__image-item" alt="image">
                </div>
                <div class="featured__text">
                    <div class="featured__text-time">
                        <p class="paragraph">
                            6 days ago . 2 min
                        </p>
                    </div>
    
                    <div class="featured__text-main">
                        <span class="featured__text-main-primary">
                            <b>Back to Fiction: What I'm Reading This Summer</b>
                        </span>
                        <span class="featured__text-main-secondary">
                            Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Wel...
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="important">
            <div class="important-container">
                <div class="important__text">
                    <b>never miss a new post.</b>
                </div>
    
    
                <div class="important__form">
                    <div class="important__form-input">
                    <p class="important__form-input--placeholder">Enter your email *</p>
                    <div class="important__form-priamry">
                        <input type="text" class="important__form-input--main">
                        <a class="important__form-btn" href="#">Subscribe</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

        <div class="content" id="content">
            <div class="content-container">
                <div class="content__headlines">
                    <div class="content-heading">Headlines</div>
                    <div class="content__headlines-info">
                        <div class="content__img">
                            <img src="./img/contentImg.jpg" class="content__image" alt="content image">
                        </div>
                        <div class="content__text">
                            <div class="content__text-paragraph content__text-time">
                                <span class="context__text-time--month">Jan</span>
                                <span class="context__text-time--point">.</span>
                                <span class="context__text-time--hour">1 min</span>
                            </div>
                            <div class="content__text-main">
                                <a href="#" class="content__text-main--link">
                                    <h3 class="content__text-main--heading">5 Pizza Places You Must Know</h3>
                                    <p class="content__text-main--paragraph">Create a blog post subtitle that summarizes your post in a few short, punchy sentences...</p>
                                </a>
                            </div>
                            <div class="content__text-paragraph content__text-reviews">
                                <span class="context__text-reviews--views">2 views</span>
                                <span class="context__text-reviews--comments">0 comments</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="content__headlines-info">
                        <div class="content__img">
                            <img src="./img/contentImg.jpg" class="content__image" alt="content image">
                        </div>
                        <div class="content__text">
                            <div class="content__text-paragraph content__text-time">
                                <span class="context__text-time--month">Jan</span>
                                <span class="context__text-time--point">.</span>
                                <span class="context__text-time--hour">1 min</span>
                            </div>
                            <div class="content__text-main">
                                <a href="#" class="content__text-main--link">
                                    <h3 class="content__text-main--heading">5 Pizza Places You Must Know</h3>
                                    <p class="content__text-main--paragraph">Create a blog post subtitle that summarizes your post in a few short, punchy sentences...</p>
                                </a>
                            </div>
                            <div class="content__text-paragraph content__text-reviews">
                                <span class="context__text-reviews--views">2 views</span>
                                <span class="context__text-reviews--comments">0 comments</span>
                            </div>
                        </div>
                    </div>

                    <div class="content__headlines-info">
                        <div class="content__img">
                            <img src="./img/contentImg.jpg" class="content__image" alt="content image">
                        </div>
                        <div class="content__text">
                            <div class="content__text-paragraph content__text-time">
                                <span class="context__text-time--month">Jan</span>
                                <span class="context__text-time--point">.</span>
                                <span class="context__text-time--hour">1 min</span>
                            </div>
                            <div class="content__text-main">
                                <a href="#" class="content__text-main--link">
                                    <h3 class="content__text-main--heading">5 Pizza Places You Must Know</h3>
                                    <p class="content__text-main--paragraph">Create a blog post subtitle that summarizes your post in a few short, punchy sentences...</p>
                                </a>
                            </div>
                            <div class="content__text-paragraph content__text-reviews">
                                <span class="context__text-reviews--views">2 views</span>
                                <span class="context__text-reviews--comments">0 comments</span>
                            </div>
                        </div>
                    </div>

                    <div class="content__headlines-info">
                        <div class="content__img">
                            <img src="./img/contentImg.jpg" class="content__image" alt="content image">
                        </div>
                        <div class="content__text">
                            <div class="content__text-paragraph content__text-time">
                                <span class="context__text-time--month">Jan</span>
                                <span class="context__text-time--point">.</span>
                                <span class="context__text-time--hour">1 min</span>
                            </div>
                            <div class="content__text-main">
                                <a href="#" class="content__text-main--link">
                                    <h3 class="content__text-main--heading">5 Pizza Places You Must Know</h3>
                                    <p class="content__text-main--paragraph">Create a blog post subtitle that summarizes your post in a few short, punchy sentences...</p>
                                </a>
                            </div>
                            <div class="content__text-paragraph content__text-reviews">
                                <span class="context__text-reviews--views">2 views</span>
                                <span class="context__text-reviews--comments">0 comments</span>
                            </div>
                        </div>
                    </div>

                    <div class="content__headlines-info">
                        <div class="content__img">
                            <img src="./img/contentImg.jpg" class="content__image" alt="content image">
                        </div>
                        <div class="content__text">
                            <div class="content__text-paragraph content__text-time">
                                <span class="context__text-time--month">Jan</span>
                                <span class="context__text-time--point">.</span>
                                <span class="context__text-time--hour">1 min</span>
                            </div>
                            <div class="content__text-main">
                                <a href="#" class="content__text-main--link">
                                    <h3 class="content__text-main--heading">5 Pizza Places You Must Know</h3>
                                    <p class="content__text-main--paragraph">Create a blog post subtitle that summarizes your post in a few short, punchy sentences...</p>
                                </a>
                            </div>
                            <div class="content__text-paragraph content__text-reviews">
                                <span class="context__text-reviews--views">2 views</span>
                                <span class="context__text-reviews--comments">0 comments</span>
                            </div>
                        </div>
                    </div>

                    <div class="content__headlines-info">
                        <div class="content__img">
                            <img src="./img/contentImg.jpg" class="content__image" alt="content image">
                        </div>
                        <div class="content__text">
                            <div class="content__text-paragraph content__text-time">
                                <span class="context__text-time--month">Jan</span>
                                <span class="context__text-time--point">.</span>
                                <span class="context__text-time--hour">1 min</span>
                            </div>
                            <div class="content__text-main">
                                <a href="#" class="content__text-main--link">
                                    <h3 class="content__text-main--heading">5 Pizza Places You Must Know</h3>
                                    <p class="content__text-main--paragraph">Create a blog post subtitle that summarizes your post in a few short, punchy sentences...</p>
                                </a>
                            </div>
                            <div class="content__text-paragraph content__text-reviews">
                                <span class="context__text-reviews--views">2 views</span>
                                <span class="context__text-reviews--comments">0 comments</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="content__about">
                    <div class="content-heading">About</div>
                    <div class="content__about-info">
                        
                        <div class="content__aboutme">
                            <div class="content__img">
                                <img src="./img/user.jpg" class="content__aboutme-img" alt="content image">
                            </div>

                            <p class="content__aboutme-paragraph">
                                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
                            </p>

                            <a href="./about.html" class="content__aboutme-button">
                                Read More >
                            </a>
                        </div>

                        <div class="content-heading">Our Staff</div>
                        <div class="content__ourstaff">

                            <div class="content__ourstaff-images">
                                <!-- <div class="content__ourstaff-container"> -->
                                <div class="content__ourstaff-table">
                                    <div class="content__ourstaff-table--data">
                                        <img src="./img/user-1.jpg" alt="User 1" class="content__ourstaff-userImg">
                                        <figcaption class="content__ourstaff-caption">Samuel Anderson</figcaption> 
                                    </div>
                                    <div class="content__ourstaff-table--data">
                                        <img src="./img/user-2.jpg" alt="User 2" class="content__ourstaff-userImg">
                                        <figcaption class="content__ourstaff-caption">Mary Smith</figcaption> 
                                    </div>
                                </div>
                                <div class="content__ourstaff-table">
                                    <div class="content__ourstaff-table">
                                        <div class="content__ourstaff-table--data">
                                            <img src="./img/user-3.jpg" alt="User 3" class="content__ourstaff-userImg">
                                            <figcaption class="content__ourstaff-caption">Paul James</figcaption> 
                                        </div>
                                        <div class="content__ourstaff-table--data">
                                            <img src="./img/user-4.jpg" alt="User 4" class="content__ourstaff-userImg">
                                            <figcaption class="content__ourstaff-caption">Larry Wilson</figcaption> 
                                        </div>
                                    </div>
                                </div>

                                <div class="content__ourstaff-table">
                                    <div class="content__ourstaff-table">
                                        <div class="content__ourstaff-table--data">
                                            <img src="./img/user-5.jpg" alt="User 5" class="content__ourstaff-userImg">
                                            <figcaption class="content__ourstaff-caption">Jordan Belfort</figcaption> 
                                        </div>
                                        <div class="content__ourstaff-table--data">
                                            <img src="./img/user-6.jpg" alt="User 6" class="content__ourstaff-userImg">
                                            <figcaption class="content__ourstaff-caption">Sara Larson</figcaption> 
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>

                            <div class="content__ourstaff-icons">
                                <a href="#" class="content__ourstaff-icons--link">
                                    <img src="./img/fbicon.jpg" alt="facebook">
                                </a>
                                <a href="#" class="content__ourstaff-icons--link">
                                    <img src="./img/instaicon.jpg" alt="instagram">
                                </a>
                                <a href="#" class="content__ourstaff-icons--link">
                                    <img src="./img/twitericon.jpg" alt="twitter">
                                </a>
                                <a href="#" class="content__ourstaff-icons--link">
                                    <img src="./img/pintresticon.jpg" alt="pintrest">
                                </a>
                            </div>
                        </div>

                        <div class="content-heading">Subscribe</div>
                        <div class="content__subscribe">
                            <div class="content__subscribe-form">
                                <div>
                                    <p class="content__subscribe-form--placeholder">Enter your email *</p>
                                </div>
                                <div>
                                    <input type="text" class="content__subscribe-form--main">
                                </div>
                                <div>
                                    <a href="#" class="content__subscribe-form--btn">Subscribe</a>
                                </div>
                            </div>
                        </div>

                        <div class="content-heading content__mypick-heading">My Pick of the month</div>
                        <div class="content__mypick">
                            <div class="content__img">
                                <img src="./img/hotel-3.jpg" class="content__mypick-img" alt="content image">
                            </div>

                            <p class="content__mypick-paragraph">
                                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
                            </p>

                            <a href="#" class="content__mypick-button">
                                Read More >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form" id="form">
            <div class="form__container">
                <div class="form__heading">
                    <h1>Drop Me a Line, Let Me Know What You Think</h1>
                </div>
                <div class="form__container-pack">
                    <div class="form__primary">
                        <div class="form__primary-field">
                            <div class="form__primary-field">
                            <label for="fname">First name:</label><br>
                            <input class="form__primary-field--input" type="text" id="fname" name="fname">
                        </div>
                        </div>
    
                        <div class="form__primary-field">
                            <label for="fname">Last name:</label><br>
                            <input class="form__primary-field--input" type="text" id="fname" name="fname">
                        </div>
                    </div>
                    <div class="form__secondary">
                        <div class="form__secondary-field">
                            <label for="fname">email</label><br>
                            <input class="form__secondary-field--input" type="email" name="email">
                        </div>
    
                        <div class="form__secondary-field">
                            <label for="fname">message</label><br>
                            <textarea class="form__secondary-field--input" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="form__btn">
                        <a class="form__btn-button" href="#">Submit</a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

<!-- class="form__secondary-field--input" -->